{% load static %}
<!DOCTYPE html>
<head>
<title>For Vaccination</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
<h1 style="text-align:center">Omicron vaccination</h1><br>
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: large;height:30px; width:100px;margin-left: 80%;"><b>Places</b><span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="https://en.wikipedia.org/wiki/Trivandrum">Trivandrum</a></li>
<li><a href="https://en.wikipedia.org/wiki/Pathanamthitta">Pathanamthitta</a></li>
<li><a href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a></li>
<li><a href="https://en.wikipedia.org/wiki/Kollam">kollam</a></li>
<li><a href="https://en.wikipedia.org/wiki/Cochin">Cochin</a></li>
<li><a href="https://en.wikipedia.org/wiki/Idukki">Idukki</a></li>
<li><a href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
<li><a href="https://en.wikipedia.org/wiki/Malappuram">Malappuram</a></li>
</ul>
</li>
<ul class="nav navbar-nav">
<a href="{% url 'vaccapp:login'%}"><button style="height:48px; width:160px;margin-left: 250%;" type="button">For Booking</button></a>
</ul>
<ul class="nav navbar-nav">
    <h5 style="margin-left: 355%;text-align: right;margin-top: 10%;margin-bottom: 2%;font-size: large;">Contact:6521545621</h5>
</ul>
</div>
</nav>
</head>
</div>
</div>
<header class="covid-hero">
	<div class="hero">
	  <div class="hero-item">
			<img alt="Covid-19 Image" class="img-responsive cover" src="https://raw.githubusercontent.com/solodev/covid-hero-banner/master/covid_banners_1.jpg">
			<div class="header-container">
				<div class="header-content">
					<h1>Omicron information</h1> 
					<p>This virus is spreading day by day So get vaccinated and beat this virus.Book your vaccines now. The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols.
                        You can be infected by breathing in the virus if you are near someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth. The virus spreads more easily indoors and in crowded settings.</p><br> <br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-%28covid-19%29-variants-of-sars-cov-2?gclid=EAIaIQobChMI48SmkKOr9QIViWkqCh3-8AFfEAAYASAAEgJEVfD_BwE"><button style="height:48px; width:160px;position: relative; left: 45%;"  type="button">For more covid details visit</button></a>
	  </div>
      <br>
	</div>
    <br>
</header>
<br>
</div>
<div class="flex-wrapper">
	<div class="container"></div>
	<div class="footer">
		<p style="text-align: center;">&copy;vaccination booking  all rights reserved</p>
	</div>
  </div>
</body>
<br>
</html>


